<!DOCTYPE html>
<html ng-app="angular-rails-example">
<head>
  <base href="/" />
  <title>Bookmarks</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag "gentelella" %>
  <%= favicon_link_tag 'my_favicon.ico' %>
</head>

<body class="nav-md">
  <div class="container body">
    <div class="main_container">
      <div class="col-md-3 left_col menu_fixed" style="top:0">
        <%= render "partials/sidenav" %>
        <%= render "partials/topnav" %>
        <%= yield %>
        <div ng-view></div>
        <%= render "partials/footer" %>
      </div>
    </div>

    <%= render "partials/custom_notifications" %>
    <%= javascript_include_tag 'application' %>
  </body>
</html>
