<!DOCTYPE html>
<html ng-app="angular-rails-example">
<head>
  <base href="/" />
  <title>Bookmarks</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag "gentelella" %>
  <%= favicon_link_tag 'my_favicon.ico' %>
</head>

<body class="nav-md">
  <div class="modal fade bs-example-modal-lg in" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" style="z-index: 20000">
      <div class="modal-content" style="z-index: 20000">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
          </button>
          <h4 class="modal-title" id="myModalLabel">Danilo Xavier</h4>
        </div>
        <div class="modal-body">

          <center>
          <img src="<%= image_url('user.png')%>" name="aboutme" width="140" height="140" border="0" class="img-circle"></a>
          <h3 class="media-heading">Danilo Xavier</h3>
          <span><strong>Skills: </strong></span>
            <span class="label label-success">Ruby on Rails</span>
            <span class="label label-success">AngularJs</span>
            <span class="label label-success">NodeJs</span>
            <span class="label label-success">CoffeScript</span>
            <span class="label label-success">Git</span>
            <span class="label label-success">Docker</span>
            <span class="label label-success">HTML</span>
            <span class="label label-success">CSS</span>
            <span class="label label-success">Slim</span>
          </center>
          <hr>
          <center>
          <p class="text-left"><strong>Bio: </strong><br>
            Pensar em algum texto
          <br>
          </center>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <div class="container body">
    <div class="main_container">
      <div class="col-md-3 left_col menu_fixed" style="top:0">
        <%= render "partials/sidenav" %>
        <%= render "partials/topnav" %>
        <%= yield %>
        <div ng-view></div>
        <%= render "partials/footer" %>
      </div>
    </div>

    <%= render "partials/custom_notifications" %>
    <%= javascript_include_tag 'application' %>
  </body>
</html>
